<a href="https://colab.research.google.com/github/SandraCavazos/minda1/blob/main/Ej_Python_1877283.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Ejercicios 1 al 5**

Ejercicio 1: Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [406]:
mat= 1877283
print(mat, "Sandra María Cavazos Huerta")

1877283 Sandra María Cavazos Huerta

Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [407]:
#pide 2 números enteros
a=int(input("Introduce un número entero para variable 'a': " ))
b=int(input("Introduce otro número entero para variable 'b': "))

#imprime el menú de operaciones
print("""      Operaciones
         1. Suma (a+b)
         2. Resta (a-b)
         3. Multiplicación (a*b)
         4. División (a/b)
         5. Exponente (a^b)""")

#loop para selección de menú y realizar la operación
selección=0
while selección not in range(1,5):
  selección=int(input("Seleccione el tipo de operación que desea realizar: "))

  if selección==1:
    res=a+b
  elif selección==2:
    res=a-b
  elif selección==3:
    res=a*b
  elif selección==4:
    if b==0:
      print("No se puede realizar dicha operación")
      break
    else:
      res=a/b
  elif selección==5:
    res=a**b
  else:
    print("Ingrese una opción dentro del menú")

#impresión del resultado
if (b==0 and selección==4) is not True :
  print("El resultado de la operación solicitada _", selección, "_ con los números", a, "y", b, "es: ", res)

Introduce un número entero para variable 'a': 5
Introduce otro número entero para variable 'b': 10
      Operaciones
         1. Suma (a+b)
         2. Resta (a-b)
         3. Multiplicación (a*b)
         4. División (a/b)
         5. Exponente (a^b)
Seleccione el tipo de operación que desea realizar: 3
El resultado de la operación solicitada _ 3 _ con los números 5 y 10 es:  50

Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [408]:
#creamos lista con primer elemento 3
lista1=[3]

#loop para llenar la lista con múltiplos de 3 utilizando el índice i
for i in range(2,11):
  lista1.append(i*3)

#impresión
print("Lista de 10 números múltiplos de 3: ", lista1)

#loop para sumar los números de la lista
s=0
for i in range(0,10):
  s=s+lista1[i]

#impresión del resultado
print("Suma de los 10 números: ", s)

Lista de 10 números múltiplos de 3:  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
Suma de los 10 números:  165

Ejercicio 4
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

In [409]:
a=int(input("Ingrese un número entero para conocer si es par o impar: "))

#revisando si es un número par o impar
if a % 2 == 0:
  print("El número ingresado ",a, " es par")
else:
  print("El número ingresado ",a," es impar")

#revisando si es un número primo o no
b=int(input("Ingrese un número entero para conocer si es primo o no: "))
if b==0 or b==1:
  print("El número ingresado", b, "no es primo")
else:
  for i in range(2,b):
    if b % i == 0:
      t="no es primo"
      break
    else:
      t= "es primo"
  print("El número ingresado ", b, t)

Ingrese un número entero para conocer si es par o impar: 9
El número ingresado  9  es impar
Ingrese un número entero para conocer si es primo o no: 9
El número ingresado  9 no es primo

Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [410]:
a=[]
a.append(float(input("Introduce un número para variable 'a': " )))
a.append(float(input("Introduce otro número para variable 'b': ")))
print(a)
type(a[0])
type(a[1])
print("""      Operaciones
         1. Suma (a+b)
         2. Resta (a-b)
         3. Multiplicación (a*b)
         4. División (a/b)
         5. Exponente (a^b)""")
selección=0
while selección not in range(1,5):
  selección=int(input("Seleccione el tipo de operación que desea realizar: "))

  if selección==1:
    res=a[0]+a[1]
  elif selección==2:
    res=a[0]-a[1]
  elif selección==3:
    res=a[0]*a[1]
  elif selección==4:
    if b==0:
      print("No se puede realizar dicha operación")
      break
    else:
      res=a[0]/a[1]
  elif selección==5:
    res=a[0]**a[1]
  else:
    print("Ingrese una opción dentro del menú")

if (a[1]==0 and selección==4) is not True :
  print("El resultado de la operación solicitada _", selección, "_ con los números", a[0], "y", a[1], "es: ", res)

Introduce un número para variable 'a': 4
Introduce otro número para variable 'b': 2.5
[4.0, 2.5]
      Operaciones
         1. Suma (a+b)
         2. Resta (a-b)
         3. Multiplicación (a*b)
         4. División (a/b)
         5. Exponente (a^b)
Seleccione el tipo de operación que desea realizar: 1
El resultado de la operación solicitada _ 1 _ con los números 4.0 y 2.5 es:  6.5

## **Ejercicios con estructuras básicas de python.**

### **Tuplas.**

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [411]:
a=1.97
b=2
c=True
d=5j

print(a, type(a), b,type(b), c,type(c), d, type(d))

1.97 <class 'float'> 2 <class 'int'> True <class 'bool'> 5j <class 'complex'>

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [412]:
t1=(2,3,4,6,10)
print("primer valor: ",t1[0], "  último valor: ",t1[-1])

primer valor:  2   último valor:  10

Añadir 3 valores de string a la tupla.

In [413]:
t1=t1.__add__(('uno','dos','tres'))
print("La tupla con los 3 strings es: ", t1)

La tupla con los 3 strings es:  (2, 3, 4, 6, 10, 'uno', 'dos', 'tres')

Verificar si una variable existe dentro de la tupla.

In [416]:
var=input("Ingrese la variable a verificar: ")

if (var in t1):
  print("La variable _", var, "_ está dentro de la tupla")
else:
  print("La variable _",var, "_ no exsite dentro de la tupla")

Ingrese la variable a verificar: uno
La variable _ uno _ está dentro de la tupla

### **Listas**

Crear una lista con 40 elementos aleatorios enteros.

In [422]:
import random

#creamos lista vacía
l1=[]

#loop para llenar lista con 40 números aleatorios
for i in range(0,40):
  l1.append(random.randint(0,150))

#impresión
print("Lista con 40 elementos aleatorios enteros",l1)

Lista con 40 elementos aleatorios enteros [49, 147, 128, 82, 150, 64, 81, 79, 147, 14, 51, 80, 116, 7, 17, 132, 135, 4, 48, 50, 62, 47, 114, 62, 63, 45, 108, 141, 83, 128, 140, 17, 49, 62, 79, 114, 98, 117, 146, 18]

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [423]:

#creación y definición de la función
def pares(lista):
  listapares=[]
  listaimpares=[]

  for i in range(0,len(lista)):
    if lista[i]%2==0:
      listapares.append(lista[i])
    else:
      listaimpares.append(lista[i])

  print("Elementos pares: ", listapares)
  print("Elementos impares: ", listaimpares)
  return listapares,listaimpares

#llamando a la función
listapares,listaimpares=pares(l1)

Elementos pares:  [128, 82, 150, 64, 14, 80, 116, 132, 4, 48, 50, 62, 114, 62, 108, 128, 140, 62, 114, 98, 146, 18]
Elementos impares:  [49, 147, 81, 79, 147, 51, 7, 17, 135, 47, 63, 45, 141, 83, 17, 49, 79, 117]

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [424]:
len_listapares=len(listpares)
len_listaimpares=len(listimpares)

print("La longitud de la lista par es de: ", len_listapares, " elementos")
print("La longitud de la lista impar es de: ", len_listaimpares, " elementos")

La longitud de la lista par es de:  19  elementos
La longitud de la lista impar es de:  21  elementos

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [425]:
listapares.sort(reverse=True)
print("Los elementos de la lista par ordenados de mayor a menor son: ", listapares)

listaimpares.sort()
print("Los elementos de la lista impar ordenados de menor a mayor son: ", listaimpares)

Los elementos de la lista par ordenados de mayor a menor son:  [150, 146, 140, 132, 128, 128, 116, 114, 114, 108, 98, 82, 80, 64, 62, 62, 62, 50, 48, 18, 14, 4]
Los elementos de la lista impar ordenados de menor a mayor son:  [7, 17, 17, 45, 47, 49, 49, 51, 63, 79, 79, 81, 83, 117, 135, 141, 147, 147]

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [426]:
print("lista original:", l1)
l1.append(4)
print("lista con elemento 4 agregado al final: ", l1)
l1.sort()
print("lista ordenada de menor a mayor: ", l1)
l1.pop(25)
print("lista con el elemento de la posición 25 eliminado: ", l1)
l1.insert(3,5)
print("lista con el elemento 5 insertado en la posición 3: ", l1)

lista original: [49, 147, 128, 82, 150, 64, 81, 79, 147, 14, 51, 80, 116, 7, 17, 132, 135, 4, 48, 50, 62, 47, 114, 62, 63, 45, 108, 141, 83, 128, 140, 17, 49, 62, 79, 114, 98, 117, 146, 18]
lista con elemento 4 agregado al final:  [49, 147, 128, 82, 150, 64, 81, 79, 147, 14, 51, 80, 116, 7, 17, 132, 135, 4, 48, 50, 62, 47, 114, 62, 63, 45, 108, 141, 83, 128, 140, 17, 49, 62, 79, 114, 98, 117, 146, 18, 4]
lista ordenada de menor a mayor:  [4, 4, 7, 14, 17, 17, 18, 45, 47, 48, 49, 49, 50, 51, 62, 62, 62, 63, 64, 79, 79, 80, 81, 82, 83, 98, 108, 114, 114, 116, 117, 128, 128, 132, 135, 140, 141, 146, 147, 147, 150]
lista con el elemento de la posición 25 eliminado:  [4, 4, 7, 14, 17, 17, 18, 45, 47, 48, 49, 49, 50, 51, 62, 62, 62, 63, 64, 79, 79, 80, 81, 82, 83, 108, 114, 114, 116, 117, 128, 128, 132, 135, 140, 141, 146, 147, 147, 150]
lista con el elemento 5 insertado en la posición 3:  [4, 4, 7, 5, 14, 17, 17, 18, 45, 47, 48, 49, 49, 50, 51, 62, 62, 62, 63, 64, 79, 79, 80, 81, 82, 83, 108, 114, 114, 116, 117, 128, 128, 132, 135, 140, 141, 146, 147, 147, 150]

### **Diccionarios**

Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [427]:
#creación del diccionario
dict1={'Aranza':20,'Diana':20,'Ricardo':22,'Alberto':20,'José':31,'Natalia':30}
print("el diccionario es: ", dict1)

el diccionario es:  {'Aranza': 20, 'Diana': 20, 'Ricardo': 22, 'Alberto': 20, 'José': 31, 'Natalia': 30}

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [428]:
#cremos y ordenamos la lista ('edades') de las edades de menor a mayor
edades=dict1.values()
ordenada=sorted(edades)

#impresión
print("La lista de las edades de menor a mayor es: ",ordenada)

La lista de las edades de menor a mayor es:  [20, 20, 20, 22, 30, 31]

Usando el diccionario y un loop, imprimir solo los nombres.

In [429]:
print("Los nombres del diccionario son:")

#loop que imprime los nombres del diccionario
for i in dict1:
  print(i)

Los nombres del diccionario son:
Aranza
Diana
Ricardo
Alberto
José
Natalia

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [430]:
dict1['Juan']=30
dict1['Jesús']=35
print(dict1)

{'Aranza': 20, 'Diana': 20, 'Ricardo': 22, 'Alberto': 20, 'José': 31, 'Natalia': 30, 'Juan': 30, 'Jesús': 35}

### **Sets**

Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [431]:
#creamos set vacío
set1=set()

#loop para llenar el set con 100 números aleatorios del 1 al 25
for i in range(0,100):
  set1.add(random.randint(1,25))

print("El set es:", set1)

El set es: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

Comprueba la longitud de tu set.

In [432]:
print("La longitud del set es de: ", len(set1))

La longitud del set es de:  25

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [433]:
#creamos lista vacía
l3=[]

#loop para llenar la lista con 5 números aleatorios
for i in range(0,5):
  l3.append(random.randint(1,10))

#impresiones
print("Set inicial:", set1)
print("Lista con 5 elementos aleatorios enteros:",l3)

#loop para comprobar si cada valor aparece en el set inicial
for i in range(0,5):
  if l3[i] in set1:
    print("El elemento", l3[i], "aparece en el set inicial.")
  else:
    print("El elemento", l3[i], "aparece está en el set inicial.")

Set inicial: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}
Lista con 5 elementos aleatorios enteros: [6, 9, 10, 4, 7]
El elemento 6 aparece en el set inicial.
El elemento 9 aparece en el set inicial.
El elemento 10 aparece en el set inicial.
El elemento 4 aparece en el set inicial.
El elemento 7 aparece en el set inicial.